In [1]:
# Dependencies
import pandas as pd
import os
import csv
import glob

inpath = os.path.join('.','Input_Data')
outpath = os.path.join('..','Load')
print(inpath)

./Input_Data

In [2]:
## Reading in files from the BLS website for 12 retail industries##
all_files = glob.glob(os.path.join(inpath,"*.xlsx"))

#print(all_files)

li = []

for filename in all_files:
    print(f"File Name: {filename}")
    
    # substring the input path out of the file name
    file_only = filename[len(inpath)+1:]

    print(f"Spreadsheet Name: {file_only}")
    print("------")

    df = pd.read_excel(filename, skiprows=12)
    df['Filename'] = file_only 
    df['NAICS_Code'] = file_only[0:3]
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

File Name: ./Input_Data/446_Health_Personal_Care_Stores.xlsx
Spreadsheet Name: 446_Health_Personal_Care_Stores.xlsx
------
File Name: ./Input_Data/447_Gasoline_Stations.xlsx
Spreadsheet Name: 447_Gasoline_Stations.xlsx
------
File Name: ./Input_Data/448_Clothing_Clothing_Accessories_Stores.xlsx
Spreadsheet Name: 448_Clothing_Clothing_Accessories_Stores.xlsx
------
File Name: ./Input_Data/445_Food_Beverage_Stores.xlsx
Spreadsheet Name: 445_Food_Beverage_Stores.xlsx
------
File Name: ./Input_Data/451_SportingGoods_Hobby_Book_Music_Stores.xlsx
Spreadsheet Name: 451_SportingGoods_Hobby_Book_Music_Stores.xlsx
------
File Name: ./Input_Data/442_Furniture_Home_Furnishings_Stores.xlsx
Spreadsheet Name: 442_Furniture_Home_Furnishings_Stores.xlsx
------
File Name: ./Input_Data/441_MotorVehicle_PartsDealers.xlsx
Spreadsheet Name: 441_MotorVehicle_PartsDealers.xlsx
------
File Name: ./Input_Data/444_BuildingMaterial_GardenSupplies.xlsx
Spreadsheet Name: 444_BuildingMaterial_GardenSupplies.xlsx
------
File Name: ./Input_Data/454_Nonstore_Retailers.xlsx
Spreadsheet Name: 454_Nonstore_Retailers.xlsx
------
File Name: ./Input_Data/443_Electronics_Appliance_Stores.xlsx
Spreadsheet Name: 443_Electronics_Appliance_Stores.xlsx
------
File Name: ./Input_Data/453_Miscellaneous_Store_Retailers.xlsx
Spreadsheet Name: 453_Miscellaneous_Store_Retailers.xlsx
------
File Name: ./Input_Data/452_General_Merchandise_Stores.xlsx
Spreadsheet Name: 452_General_Merchandise_Stores.xlsx
------

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Filename,NAICS_Code
0,2009,795.1,790.8,789.2,785.3,790.8,795.0,791.6,788.5,781.5,786.3,795.1,807.3,446_Health_Personal_Care_Stores.xlsx,446
1,2010,793.9,783.5,782.2,782.1,786.8,788.9,787.2,782.8,777.5,783.8,793.9,798.7,446_Health_Personal_Care_Stores.xlsx,446
2,2011,784.8,777.1,773.3,775.3,781.0,783.0,788.8,790.4,788.0,791.9,806.0,808.5,446_Health_Personal_Care_Stores.xlsx,446
3,2012,800.7,796.8,799.2,805.9,806.8,807.8,812.1,813.6,810.7,824.3,835.2,838.2,446_Health_Personal_Care_Stores.xlsx,446
4,2013,824.6,818.2,817.4,824.2,823.8,823.4,824.7,826.7,825.3,833.8,841.9,853.4,446_Health_Personal_Care_Stores.xlsx,446
5,2014,835.7,812.9,814.2,809.0,813.9,817.5,813.4,811.3,807.5,817.6,831.3,832.3,446_Health_Personal_Care_Stores.xlsx,446
6,2015,817.4,810.4,810.1,806.0,809.8,818.3,817.4,812.2,806.6,809.5,824.5,829.1,446_Health_Personal_Care_Stores.xlsx,446
7,2016,815.0,809.1,815.3,817.5,817.6,823.8,821.0,821.1,818.4,826.7,847.0,858.1,446_Health_Personal_Care_Stores.xlsx,446
8,2017,844.1,830.9,828.3,820.8,828.5,824.9,825.0,821.5,818.3,825.7,850.8,860.6,446_Health_Personal_Care_Stores.xlsx,446
9,2018,842.5,826.5,832.1,829.8,831.4,831.9,822.5,823.2,818.4,827.4,851.2,857.8,446_Health_Personal_Care_Stores.xlsx,446
10,2019,839.2,826.3,821.4,820.7,823.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,446_Health_Personal_Care_Stores.xlsx,446
11,2009,707.5,702.7,701.1,706.3,711.4,717.5,721.8,725.7,714.6,709.3,704.7,704.2,447_Gasoline_Stations.xlsx,447
12,2010,693.1,688.3,690.9,698.4,704.5,710.4,717.7,715.8,708.2,702.4,701.6,700.0,447_Gasoline_Stations.xlsx,447
13,2011,693.8,690.8,695.2,703.9,714.4,722.7,723.7,727.8,716.0,714.3,717.3,708.5,447_Gasoline_Stations.xlsx,447
14,2012,702.9,701.2,703.8,710.7,722.3,729.2,729.3,729.9,723.5,720.6,725.2,722.2,447_Gasoline_Stations.xlsx,447
15,2013,709.1,713.8,715.6,721.7,731.3,745.1,751.2,748.4,745.5,747.4,745.8,739.9,447_Gasoline_Stations.xlsx,447
16,2014,733.7,730.1,735.9,741.4,752.9,763.9,765.0,767.9,758.2,760.2,761.0,758.4,447_Gasoline_Stations.xlsx,447
17,2015,751.6,751.3,757.7,765.5,771.1,783.9,782.1,788.3,775.6,776.0,774.0,776.4,447_Gasoline_Stations.xlsx,447
18,2016,769.4,768.2,771.7,777.7,787.4,791.5,795.8,797.7,794.1,791.4,784.0,782.8,447_Gasoline_Stations.xlsx,447
19,2017,775.4,773.5,776.8,777.5,789.2,797.8,795.5,798.7,789.7,786.2,789.3,783.2,447_Gasoline_Stations.xlsx,447
20,2018,773.1,774.8,775.7,778.1,789.6,799.3,799.7,799.7,793.6,789.7,797.4,795.6,447_Gasoline_Stations.xlsx,447
21,2019,789.4,789.1,788.0,787.3,797.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,447_Gasoline_Stations.xlsx,447
22,2009,1179.0,1126.7,1109.8,1105.1,1108.1,1117.6,1136.9,1144.1,1110.5,1133.7,1208.7,1259.2,448_Clothing_Clothing_Accessories_Stores.xlsx,448
23,2010,1137.0,1091.1,1101.6,1112.7,1105.0,1119.3,1135.2,1136.8,1099.3,1135.7,1215.6,1260.1,448_Clothing_Clothing_Accessories_Stores.xlsx,448
24,2011,1134.1,1081.6,1076.8,1086.8,1088.9,1106.8,1120.5,1134.3,1114.5,1146.5,1247.0,1302.7,448_Clothing_Clothing_Accessories_Stores.xlsx,448
25,2012,1142.3,1083.2,1095.9,1094.8,1103.3,1119.0,1124.1,1143.0,1117.9,1155.3,1306.6,1326.1,448_Clothing_Clothing_Accessories_Stores.xlsx,448
26,2013,1180.8,1103.5,1101.9,1090.3,1096.4,1117.9,1142.5,1160.9,1113.9,1122.3,1249.3,1305.1,448_Clothing_Clothing_Accessories_Stores.xlsx,448
27,2014,1145.6,1087.1,1082.4,1088.9,1085.3,1096.1,1116.1,1127.7,1081.6,1105.4,1213.0,1253.1,448_Clothing_Clothing_Accessories_Stores.xlsx,448
28,2015,1110.2,1063.5,1061.0,1053.2,1066.7,1084.7,1100.6,1112.8,1070.0,1115.8,1212.4,1239.7,448_Clothing_Clothing_Accessories_Stores.xlsx,448
29,2016,1116.2,1072.3,1065.5,1063.5,1072.5,1087.5,1108.7,1115.4,1089.6,1109.8,1201.1,1261.4,448_Clothing_Clothing_Accessories_Stores.xlsx,448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2012,419.6,415.0,412.5,413.4,405.4,405.9,404.9,400.6,397.6,404.4,432.9,428.7,443_Electronics_Appliance_Stores.xlsx,443
103,2013,417.0,402.1,392.3,389.6,388.9,386.6,389.6,391.9,395.8,411.7,433.1,431.4,443_Electronics_Appliance_Stores.xlsx,443
104,2014,423.1,396.5,393.6,386.0,384.1,389.5,393.3,399.4,399.7,414.4,433.5,436.0,443_Electronics_Appliance_Stores.xlsx,443
105,2015,429.8,411.8,411.5,407.6,407.7,410.5,409.7,413.6,415.2,429.8,447.0,446.6,443_Electronics_Appliance_Stores.xlsx,443
106,2016,441.6,424.8,420.8,418.5,415.4,413.8,414.9,413.2,416.6,416.3,430.5,434.0,443_Electronics_Appliance_Stores.xlsx,443
107,2017,430.3,411.7,410.6,406.0,401.9,398.9,395.6,397.3,397.1,403.3,412.2,415.2,443_Electronics_Appliance_Stores.xlsx,443
108,2018,409.7,398.2,400.3,399.2,397.0,395.1,393.9,392.0,390.2,391.4,393.2,400.4,443_Electronics_Appliance_Stores.xlsx,443
109,2019,392.6,383.3,382.6,378.2,374.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,443_Electronics_Appliance_Stores.xlsx,443
110,2009,659.8,659.1,642.7,646.3,660.4,661.3,657.4,657.9,647.5,655.6,658.2,662.4,453_Miscellaneous_Store_Retailers.xlsx,453
111,2010,630.3,631.5,623.6,628.2,639.2,639.0,640.7,635.7,628.5,639.7,645.2,648.4,453_Miscellaneous_Store_Retailers.xlsx,453
112,2011,616.4,622.2,617.8,624.4,638.0,643.7,654.8,644.4,639.5,646.9,646.2,653.5,453_Miscellaneous_Store_Retailers.xlsx,453
113,2012,629.0,641.8,630.8,640.2,662.2,660.7,658.5,662.1,667.9,674.1,674.9,676.3,453_Miscellaneous_Store_Retailers.xlsx,453
114,2013,640.3,649.3,634.9,645.6,662.3,673.9,674.5,668.6,667.0,677.5,675.2,674.9,453_Miscellaneous_Store_Retailers.xlsx,453
115,2014,648.1,652.7,646.2,655.2,675.6,681.8,687.1,686.3,686.8,703.6,685.3,686.0,453_Miscellaneous_Store_Retailers.xlsx,453
116,2015,654.6,655.9,649.9,661.2,676.4,678.2,682.0,681.9,679.6,691.4,692.8,702.7,453_Miscellaneous_Store_Retailers.xlsx,453
117,2016,664.6,658.6,654.2,665.4,679.6,684.7,689.3,688.0,674.5,694.1,685.3,677.3,453_Miscellaneous_Store_Retailers.xlsx,453
118,2017,648.0,657.6,651.1,661.3,678.4,684.4,686.8,685.2,679.0,684.2,685.5,686.8,453_Miscellaneous_Store_Retailers.xlsx,453
119,2018,655.8,663.2,664.4,674.6,690.8,692.4,699.5,697.9,687.9,691.3,705.1,707.9,453_Miscellaneous_Store_Retailers.xlsx,453
120,2019,672.3,674.8,670.1,675.8,691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,453_Miscellaneous_Store_Retailers.xlsx,453
121,2009,2751.0,2674.1,2720.8,2697.7,2715.8,2724.1,2712.3,2716.9,2684.5,2704.9,2875.5,2925.4,452_General_Merchandise_Stores.xlsx,452
122,2010,2734.4,2686.1,2733.3,2711.8,2742.8,2775.3,2796.9,2805.8,2781.3,2828.3,2979.1,3053.8,452_General_Merchandise_Stores.xlsx,452
123,2011,2867.7,2810.7,2819.3,2835.4,2841.0,2866.0,2878.5,2874.7,2851.0,2901.6,3083.1,3157.9,452_General_Merchandise_Stores.xlsx,452
124,2012,2984.5,2851.9,2847.4,2849.4,2845.3,2824.3,2817.0,2805.5,2788.5,2827.9,3005.9,3063.8,452_General_Merchandise_Stores.xlsx,452
125,2013,2833.6,2738.3,2753.4,2760.4,2760.9,2777.3,2791.8,2784.4,2775.4,2817.1,3001.1,3076.9,452_General_Merchandise_Stores.xlsx,452
126,2014,2856.2,2769.1,2770.5,2770.2,2766.5,2787.0,2803.4,2798.3,2767.8,2813.0,2981.8,3061.4,452_General_Merchandise_Stores.xlsx,452
127,2015,2840.1,2751.1,2773.5,2770.4,2781.5,2797.7,2798.4,2800.6,2782.6,2832.0,3003.9,3080.3,452_General_Merchandise_Stores.xlsx,452
128,2016,2860.9,2788.2,2813.7,2805.3,2809.7,2823.1,2835.4,2839.2,2815.0,2884.0,3040.9,3087.9,452_General_Merchandise_Stores.xlsx,452
129,2017,2907.3,2805.1,2788.2,2799.3,2795.1,2823.1,2847.4,2858.0,2843.8,2895.6,3063.8,3070.4,452_General_Merchandise_Stores.xlsx,452
130,2018,2883.1,2812.1,2793.8,2819.1,2828.8,2816.7,2848.9,2881.8,2854.7,2902.9,3118.7,3102.9,452_General_Merchandise_Stores.xlsx,452
131,2019,2901.1,2793.9,2770.3,2769.4,2779.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452_General_Merchandise_Stores.xlsx,452

In [3]:
## Rearranging the columns to make NAICS_Code & Year as primary index columns 
frame = frame[['NAICS_Code','Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec', ]]
frame.head()

,NAICS_Code,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,446,2009,795.1,790.8,789.2,785.3,790.8,795.0,791.6,788.5,781.5,786.3,795.1,807.3
1,446,2010,793.9,783.5,782.2,782.1,786.8,788.9,787.2,782.8,777.5,783.8,793.9,798.7
2,446,2011,784.8,777.1,773.3,775.3,781.0,783.0,788.8,790.4,788.0,791.9,806.0,808.5
3,446,2012,800.7,796.8,799.2,805.9,806.8,807.8,812.1,813.6,810.7,824.3,835.2,838.2
4,446,2013,824.6,818.2,817.4,824.2,823.8,823.4,824.7,826.7,825.3,833.8,841.9,853.4

In [4]:
# determine data types
frame.dtypes

NAICS_Code     object
Year            int64
Jan           float64
Feb           float64
Mar           float64
Apr           float64
May           float64
Jun           float64
Jul           float64
Aug           float64
Sep           float64
Oct           float64
Nov           float64
Dec           float64
dtype: object

In [4]:
# Using the melt function to massage data set into a vertical format sorted by NAICS_Code and Year ##
emp_data = frame.melt(id_vars=["NAICS_Code","Year"],var_name=["Month"],value_name="Num_Employees")
emp_data.sort_values(by=['Year','Month'])
emp_data.head()

  NAICS_Code  Year Month  Num_Employees
0        446  2009   Jan          795.1
1        446  2010   Jan          793.9
2        446  2011   Jan          784.8
3        446  2012   Jan          800.7
4        446  2013   Jan          824.6

In [5]:
# Export file as a CSV, without the Pandas index, but with the header
outfile = os.path.join(outpath,'final_emp_data.csv')
emp_data.to_csv(outfile, index=False, header=True)