In [1]:
# Dependencies
import pandas as pd
import os
import csv
import glob

inpath = os.path.join('.','Input_Data')
outpath = os.path.join('..','Load')
print(inpath)

.\Input_Data

In [2]:
all_files = glob.glob(os.path.join(inpath,"*.xlsx"))

#print(all_files)

li = []

for filename in all_files:
    print(f"File Name: {filename}")
    
    # substring the input path out of the file name
    file_only = filename[len(inpath)+1:]

    print(f"Spreadsheet Name: {file_only}")
    print("------")

    df = pd.read_excel(filename, skiprows=12)
    df['Filename'] = file_only 
    df['NAICS_Code'] = file_only[0:3]
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

File Name: .\Input_Data\441_MotorVehicle_PartsDealers.xlsx
Spreadsheet Name: 441_MotorVehicle_PartsDealers.xlsx
------
File Name: .\Input_Data\442_Furniture_Home_Furnishings_Stores.xlsx
Spreadsheet Name: 442_Furniture_Home_Furnishings_Stores.xlsx
------
File Name: .\Input_Data\443_Electronics_Appliance_Stores.xlsx
Spreadsheet Name: 443_Electronics_Appliance_Stores.xlsx
------
File Name: .\Input_Data\444_BuildingMaterial_GardenSupplies.xlsx
Spreadsheet Name: 444_BuildingMaterial_GardenSupplies.xlsx
------
File Name: .\Input_Data\445_Food_Beverage_Stores.xlsx
Spreadsheet Name: 445_Food_Beverage_Stores.xlsx
------
File Name: .\Input_Data\446_Health_Personal_Care_Stores.xlsx
Spreadsheet Name: 446_Health_Personal_Care_Stores.xlsx
------
File Name: .\Input_Data\447_Gasoline_Stations.xlsx
Spreadsheet Name: 447_Gasoline_Stations.xlsx
------
File Name: .\Input_Data\448_Clothing_Clothing_Accessories_Stores.xlsx
Spreadsheet Name: 448_Clothing_Clothing_Accessories_Stores.xlsx
------
File Name: .\Input_Data\451_SportingGoods_Hobby_Book_Music_Stores.xlsx
Spreadsheet Name: 451_SportingGoods_Hobby_Book_Music_Stores.xlsx
------
File Name: .\Input_Data\452_General_Merchandise_Stores.xlsx
Spreadsheet Name: 452_General_Merchandise_Stores.xlsx
------
File Name: .\Input_Data\453_Miscellaneous_Store_Retailers.xlsx
Spreadsheet Name: 453_Miscellaneous_Store_Retailers.xlsx
------
File Name: .\Input_Data\454_Nonstore_Retailers.xlsx
Spreadsheet Name: 454_Nonstore_Retailers.xlsx
------

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Filename,NAICS_Code
0,2009,1368.9,1361.9,1354.0,1355.1,1355.7,1358.7,1357.6,1357.8,1348.3,1343.9,1329.1,1323.3,441_MotorVehicle_PartsDealers.xlsx,441
1,2010,1301.6,1300.1,1309.4,1333.3,1343.1,1348.0,1348.0,1356.6,1356.6,1358.2,1359.8,1357.6,441_MotorVehicle_PartsDealers.xlsx,441
2,2011,1344.5,1352.8,1366.1,1385.6,1393.6,1404.3,1411.7,1412.9,1412.5,1410.9,1408.9,1402.6,441_MotorVehicle_PartsDealers.xlsx,441
3,2012,1384.4,1394.4,1404.0,1421.1,1426.4,1440.0,1436.5,1441.7,1442.5,1446.1,1439.1,1435.3,441_MotorVehicle_PartsDealers.xlsx,441
4,2013,1428.5,1432.2,1446.2,1459.9,1474.1,1486.5,1496.0,1498.9,1502.2,1498.3,1497.8,1496.4,441_MotorVehicle_PartsDealers.xlsx,441
5,2014,1490.0,1499.4,1511.2,1532.5,1546.2,1565.4,1567.3,1571.4,1570.5,1566.3,1566.0,1566.7,441_MotorVehicle_PartsDealers.xlsx,441
6,2015,1557.0,1566.7,1581.8,1593.4,1610.5,1619.5,1629.4,1629.2,1624.4,1622.7,1627.2,1625.3,441_MotorVehicle_PartsDealers.xlsx,441
7,2016,1615.1,1621.3,1635.2,1641.9,1651.6,1658.8,1661.7,1659.5,1657.1,1655.1,1655.5,1650.0,441_MotorVehicle_PartsDealers.xlsx,441
8,2017,1642.0,1646.1,1654.7,1659.9,1665.1,1674.6,1676.9,1672.1,1664.3,1667.7,1666.2,1658.4,441_MotorVehicle_PartsDealers.xlsx,441
9,2018,1647.8,1658.5,1662.3,1670.7,1678.6,1688.5,1695.0,1690.6,1688.9,1689.6,1681.8,1684.9,441_MotorVehicle_PartsDealers.xlsx,441
10,2019,1672.9,1677.0,1689.9,1699.9,1708.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441_MotorVehicle_PartsDealers.xlsx,441
11,2009,395.4,378.6,372.7,370.5,364.8,363.2,362.9,360.4,359.2,366.3,378.1,385.8,442_Furniture_Home_Furnishings_Stores.xlsx,442
12,2010,366.9,359.0,359.1,357.4,356.9,360.3,359.1,356.7,358.8,371.9,378.8,386.9,442_Furniture_Home_Furnishings_Stores.xlsx,442
13,2011,371.7,359.6,360.8,359.8,358.5,358.9,361.4,359.0,360.4,376.3,386.2,389.5,442_Furniture_Home_Furnishings_Stores.xlsx,442
14,2012,375.5,365.3,363.6,363.1,364.7,363.8,365.5,367.8,365.2,378.4,391.7,397.2,442_Furniture_Home_Furnishings_Stores.xlsx,442
15,2013,377.3,370.0,367.0,368.7,369.4,367.2,367.3,363.9,362.8,376.2,390.5,398.3,442_Furniture_Home_Furnishings_Stores.xlsx,442
16,2014,376.8,370.3,366.9,367.7,367.7,368.6,369.8,375.0,375.9,388.5,398.6,404.3,442_Furniture_Home_Furnishings_Stores.xlsx,442
17,2015,384.9,383.3,381.2,379.3,380.3,383.3,383.6,383.3,381.7,386.0,397.8,401.6,442_Furniture_Home_Furnishings_Stores.xlsx,442
18,2016,388.0,383.3,382.2,381.5,385.7,388.3,390.6,389.7,387.9,394.2,403.9,408.0,442_Furniture_Home_Furnishings_Stores.xlsx,442
19,2017,401.6,394.9,390.5,389.4,389.8,388.9,389.8,390.5,390.8,402.2,418.5,424.5,442_Furniture_Home_Furnishings_Stores.xlsx,442
20,2018,409.6,399.7,399.2,397.8,397.7,398.3,397.5,398.7,397.6,409.2,423.9,431.9,442_Furniture_Home_Furnishings_Stores.xlsx,442
21,2019,419.2,409.4,408.2,405.5,404.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,442_Furniture_Home_Furnishings_Stores.xlsx,442
22,2009,439.7,428.6,411.1,409.1,407.7,406.0,404.9,407.5,409.3,412.6,428.1,434.6,443_Electronics_Appliance_Stores.xlsx,443
23,2010,422.8,413.0,416.0,410.8,407.8,405.2,404.9,408.7,409.4,421.6,440.6,440.9,443_Electronics_Appliance_Stores.xlsx,443
24,2011,426.3,418.0,418.1,421.1,418.7,423.4,422.6,418.3,412.1,423.3,439.3,442.9,443_Electronics_Appliance_Stores.xlsx,443
25,2012,419.6,415.0,412.5,413.4,405.4,405.9,404.9,400.6,397.6,404.4,432.9,428.7,443_Electronics_Appliance_Stores.xlsx,443
26,2013,417.0,402.1,392.3,389.6,388.9,386.6,389.6,391.9,395.8,411.7,433.1,431.4,443_Electronics_Appliance_Stores.xlsx,443
27,2014,423.1,396.5,393.6,386.0,384.1,389.5,393.3,399.4,399.7,414.4,433.5,436.0,443_Electronics_Appliance_Stores.xlsx,443
28,2015,429.8,411.8,411.5,407.6,407.7,410.5,409.7,413.6,415.2,429.8,447.0,446.6,443_Electronics_Appliance_Stores.xlsx,443
29,2016,441.6,424.8,420.8,418.5,415.4,413.8,414.9,413.2,416.6,416.3,430.5,434.0,443_Electronics_Appliance_Stores.xlsx,443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2012,2984.5,2851.9,2847.4,2849.4,2845.3,2824.3,2817.0,2805.5,2788.5,2827.9,3005.9,3063.8,452_General_Merchandise_Stores.xlsx,452
103,2013,2833.6,2738.3,2753.4,2760.4,2760.9,2777.3,2791.8,2784.4,2775.4,2817.1,3001.1,3076.9,452_General_Merchandise_Stores.xlsx,452
104,2014,2856.2,2769.1,2770.5,2770.2,2766.5,2787.0,2803.4,2798.3,2767.8,2813.0,2981.8,3061.4,452_General_Merchandise_Stores.xlsx,452
105,2015,2840.1,2751.1,2773.5,2770.4,2781.5,2797.7,2798.4,2800.6,2782.6,2832.0,3003.9,3080.3,452_General_Merchandise_Stores.xlsx,452
106,2016,2860.9,2788.2,2813.7,2805.3,2809.7,2823.1,2835.4,2839.2,2815.0,2884.0,3040.9,3087.9,452_General_Merchandise_Stores.xlsx,452
107,2017,2907.3,2805.1,2788.2,2799.3,2795.1,2823.1,2847.4,2858.0,2843.8,2895.6,3063.8,3070.4,452_General_Merchandise_Stores.xlsx,452
108,2018,2883.1,2812.1,2793.8,2819.1,2828.8,2816.7,2848.9,2881.8,2854.7,2902.9,3118.7,3102.9,452_General_Merchandise_Stores.xlsx,452
109,2019,2901.1,2793.9,2770.3,2769.4,2779.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452_General_Merchandise_Stores.xlsx,452
110,2009,659.8,659.1,642.7,646.3,660.4,661.3,657.4,657.9,647.5,655.6,658.2,662.4,453_Miscellaneous_Store_Retailers.xlsx,453
111,2010,630.3,631.5,623.6,628.2,639.2,639.0,640.7,635.7,628.5,639.7,645.2,648.4,453_Miscellaneous_Store_Retailers.xlsx,453
112,2011,616.4,622.2,617.8,624.4,638.0,643.7,654.8,644.4,639.5,646.9,646.2,653.5,453_Miscellaneous_Store_Retailers.xlsx,453
113,2012,629.0,641.8,630.8,640.2,662.2,660.7,658.5,662.1,667.9,674.1,674.9,676.3,453_Miscellaneous_Store_Retailers.xlsx,453
114,2013,640.3,649.3,634.9,645.6,662.3,673.9,674.5,668.6,667.0,677.5,675.2,674.9,453_Miscellaneous_Store_Retailers.xlsx,453
115,2014,648.1,652.7,646.2,655.2,675.6,681.8,687.1,686.3,686.8,703.6,685.3,686.0,453_Miscellaneous_Store_Retailers.xlsx,453
116,2015,654.6,655.9,649.9,661.2,676.4,678.2,682.0,681.9,679.6,691.4,692.8,702.7,453_Miscellaneous_Store_Retailers.xlsx,453
117,2016,664.6,658.6,654.2,665.4,679.6,684.7,689.3,688.0,674.5,694.1,685.3,677.3,453_Miscellaneous_Store_Retailers.xlsx,453
118,2017,648.0,657.6,651.1,661.3,678.4,684.4,686.8,685.2,679.0,684.2,685.5,686.8,453_Miscellaneous_Store_Retailers.xlsx,453
119,2018,655.8,663.2,664.4,674.6,690.8,692.4,699.5,697.9,687.9,691.3,705.1,707.9,453_Miscellaneous_Store_Retailers.xlsx,453
120,2019,672.3,674.8,670.1,675.8,691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,453_Miscellaneous_Store_Retailers.xlsx,453
121,2009,353.8,341.4,337.7,333.2,332.1,330.7,330.4,332.8,339.5,350.6,364.6,374.4,454_Nonstore_Retailers.xlsx,454
122,2010,336.9,329.7,331.4,331.7,331.4,334.8,334.7,336.6,345.5,356.9,367.8,373.5,454_Nonstore_Retailers.xlsx,454
123,2011,348.9,339.5,340.4,339.7,342.0,340.8,343.3,346.9,356.7,370.7,385.3,390.9,454_Nonstore_Retailers.xlsx,454
124,2012,365.7,361.1,355.5,353.4,356.8,361.1,363.9,368.1,372.1,384.8,400.7,409.3,454_Nonstore_Retailers.xlsx,454
125,2013,382.6,376.6,373.2,370.6,372.9,377.8,380.3,386.9,391.1,411.5,428.3,438.1,454_Nonstore_Retailers.xlsx,454
126,2014,404.8,400.2,399.2,400.8,400.3,409.1,408.0,407.3,412.4,426.7,444.5,445.6,454_Nonstore_Retailers.xlsx,454
127,2015,417.3,412.0,412.9,414.2,415.8,420.4,421.0,425.8,426.3,442.6,456.2,466.5,454_Nonstore_Retailers.xlsx,454
128,2016,434.2,428.5,429.6,427.9,427.7,434.6,437.6,440.9,442.4,459.3,472.7,475.1,454_Nonstore_Retailers.xlsx,454
129,2017,456.5,455.2,453.3,451.8,454.6,458.9,457.9,459.2,460.7,470.8,483.5,488.2,454_Nonstore_Retailers.xlsx,454
130,2018,460.5,461.7,462.5,462.1,460.2,464.5,466.7,468.1,469.0,478.3,494.7,498.7,454_Nonstore_Retailers.xlsx,454
131,2019,471.4,474.4,471.6,469.3,469.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454_Nonstore_Retailers.xlsx,454

In [8]:
frame = frame[['NAICS_Code','Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec', ]]
frame.head()

,NAICS_Code,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,441,2009,1368.9,1361.9,1354.0,1355.1,1355.7,1358.7,1357.6,1357.8,1348.3,1343.9,1329.1,1323.3
1,441,2010,1301.6,1300.1,1309.4,1333.3,1343.1,1348.0,1348.0,1356.6,1356.6,1358.2,1359.8,1357.6
2,441,2011,1344.5,1352.8,1366.1,1385.6,1393.6,1404.3,1411.7,1412.9,1412.5,1410.9,1408.9,1402.6
3,441,2012,1384.4,1394.4,1404.0,1421.1,1426.4,1440.0,1436.5,1441.7,1442.5,1446.1,1439.1,1435.3
4,441,2013,1428.5,1432.2,1446.2,1459.9,1474.1,1486.5,1496.0,1498.9,1502.2,1498.3,1497.8,1496.4

In [4]:
frame.dtypes

NAICS_Code     object
Year            int64
Jan           float64
Feb           float64
Mar           float64
Apr           float64
May           float64
Jun           float64
Jul           float64
Aug           float64
Sep           float64
Oct           float64
Nov           float64
Dec           float64
dtype: object

In [5]:
emp_data = frame.melt(id_vars=["NAICS_Code","Year"],var_name=["Month"],value_name="Num_Employees")
emp_data.sort_values(by=['Year','Month'])
emp_data.head()

  NAICS_Code  Year Month  Num_Employees
0        441  2009   Jan         1368.9
1        441  2010   Jan         1301.6
2        441  2011   Jan         1344.5
3        441  2012   Jan         1384.4
4        441  2013   Jan         1428.5

In [6]:
# Export file as a CSV, without the Pandas index, but with the header
outfile = os.path.join(outpath,'final_emp_data.csv')
emp_data.to_csv(outfile, index=False, header=True)