In [70]:
# Dependencies
import pandas as pd
import os
import csv
import glob

In [71]:


path = r'/Users/philipnunoo/ETL_Project/Philip/Data/' # use your path
all_files = glob.glob(path + "*.xlsx")

#print(all_files)

li = []

for filename in all_files:
   print(filename)
   print("------")
   df = pd.read_excel(filename, skiprows=12)
   df['Filename'] = filename 
   li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

/Users/philipnunoo/ETL_Project/Philip/Data/446_Health_Personal_Care_Stores.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/447_Gasoline_Stations.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/448_Clothing_Clothing_Accessories_Stores.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/445_Food_Beverage_Stores.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/451_SportingGoods_Hobby_Book_Music_Stores.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/442_Furniture_Home_Furnishings_Stores.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/441_MotorVehicle_PartsDealers.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/444_BuildingMaterial_GardenSupplies.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/454_Nonstore_Retailers.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/443_Electronics_Appliance_Stores.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/453_Miscellaneous_Store_Retailers.xlsx
------
/Users/philipnunoo/ETL_Project/Philip/Data/452_General_Merchandise_Stores.xlsx
------

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Filename
0,2009,795.1,790.8,789.2,785.3,790.8,795.0,791.6,788.5,781.5,786.3,795.1,807.3,/Users/philipnunoo/ETL_Project/Philip/Data/446...
1,2010,793.9,783.5,782.2,782.1,786.8,788.9,787.2,782.8,777.5,783.8,793.9,798.7,/Users/philipnunoo/ETL_Project/Philip/Data/446...
2,2011,784.8,777.1,773.3,775.3,781.0,783.0,788.8,790.4,788.0,791.9,806.0,808.5,/Users/philipnunoo/ETL_Project/Philip/Data/446...
3,2012,800.7,796.8,799.2,805.9,806.8,807.8,812.1,813.6,810.7,824.3,835.2,838.2,/Users/philipnunoo/ETL_Project/Philip/Data/446...
4,2013,824.6,818.2,817.4,824.2,823.8,823.4,824.7,826.7,825.3,833.8,841.9,853.4,/Users/philipnunoo/ETL_Project/Philip/Data/446...
5,2014,835.7,812.9,814.2,809.0,813.9,817.5,813.4,811.3,807.5,817.6,831.3,832.3,/Users/philipnunoo/ETL_Project/Philip/Data/446...
6,2015,817.4,810.4,810.1,806.0,809.8,818.3,817.4,812.2,806.6,809.5,824.5,829.1,/Users/philipnunoo/ETL_Project/Philip/Data/446...
7,2016,815.0,809.1,815.3,817.5,817.6,823.8,821.0,821.1,818.4,826.7,847.0,858.1,/Users/philipnunoo/ETL_Project/Philip/Data/446...
8,2017,844.1,830.9,828.3,820.8,828.5,824.9,825.0,821.5,818.3,825.7,850.8,860.6,/Users/philipnunoo/ETL_Project/Philip/Data/446...
9,2018,842.5,826.5,832.1,829.8,831.4,831.9,822.5,823.2,818.4,827.4,851.2,857.8,/Users/philipnunoo/ETL_Project/Philip/Data/446...
10,2019,839.2,826.3,821.4,820.7,823.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/Users/philipnunoo/ETL_Project/Philip/Data/446...
11,2009,707.5,702.7,701.1,706.3,711.4,717.5,721.8,725.7,714.6,709.3,704.7,704.2,/Users/philipnunoo/ETL_Project/Philip/Data/447...
12,2010,693.1,688.3,690.9,698.4,704.5,710.4,717.7,715.8,708.2,702.4,701.6,700.0,/Users/philipnunoo/ETL_Project/Philip/Data/447...
13,2011,693.8,690.8,695.2,703.9,714.4,722.7,723.7,727.8,716.0,714.3,717.3,708.5,/Users/philipnunoo/ETL_Project/Philip/Data/447...
14,2012,702.9,701.2,703.8,710.7,722.3,729.2,729.3,729.9,723.5,720.6,725.2,722.2,/Users/philipnunoo/ETL_Project/Philip/Data/447...
15,2013,709.1,713.8,715.6,721.7,731.3,745.1,751.2,748.4,745.5,747.4,745.8,739.9,/Users/philipnunoo/ETL_Project/Philip/Data/447...
16,2014,733.7,730.1,735.9,741.4,752.9,763.9,765.0,767.9,758.2,760.2,761.0,758.4,/Users/philipnunoo/ETL_Project/Philip/Data/447...
17,2015,751.6,751.3,757.7,765.5,771.1,783.9,782.1,788.3,775.6,776.0,774.0,776.4,/Users/philipnunoo/ETL_Project/Philip/Data/447...
18,2016,769.4,768.2,771.7,777.7,787.4,791.5,795.8,797.7,794.1,791.4,784.0,782.8,/Users/philipnunoo/ETL_Project/Philip/Data/447...
19,2017,775.4,773.5,776.8,777.5,789.2,797.8,795.5,798.7,789.7,786.2,789.3,783.2,/Users/philipnunoo/ETL_Project/Philip/Data/447...
20,2018,773.1,774.8,775.7,778.1,789.6,799.3,799.7,799.7,793.6,789.7,797.4,795.6,/Users/philipnunoo/ETL_Project/Philip/Data/447...
21,2019,789.4,789.1,788.0,787.3,797.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/Users/philipnunoo/ETL_Project/Philip/Data/447...
22,2009,1179.0,1126.7,1109.8,1105.1,1108.1,1117.6,1136.9,1144.1,1110.5,1133.7,1208.7,1259.2,/Users/philipnunoo/ETL_Project/Philip/Data/448...
23,2010,1137.0,1091.1,1101.6,1112.7,1105.0,1119.3,1135.2,1136.8,1099.3,1135.7,1215.6,1260.1,/Users/philipnunoo/ETL_Project/Philip/Data/448...
24,2011,1134.1,1081.6,1076.8,1086.8,1088.9,1106.8,1120.5,1134.3,1114.5,1146.5,1247.0,1302.7,/Users/philipnunoo/ETL_Project/Philip/Data/448...
25,2012,1142.3,1083.2,1095.9,1094.8,1103.3,1119.0,1124.1,1143.0,1117.9,1155.3,1306.6,1326.1,/Users/philipnunoo/ETL_Project/Philip/Data/448...
26,2013,1180.8,1103.5,1101.9,1090.3,1096.4,1117.9,1142.5,1160.9,1113.9,1122.3,1249.3,1305.1,/Users/philipnunoo/ETL_Project/Philip/Data/448...
27,2014,1145.6,1087.1,1082.4,1088.9,1085.3,1096.1,1116.1,1127.7,1081.6,1105.4,1213.0,1253.1,/Users/philipnunoo/ETL_Project/Philip/Data/448...
28,2015,1110.2,1063.5,1061.0,1053.2,1066.7,1084.7,1100.6,1112.8,1070.0,1115.8,1212.4,1239.7,/Users/philipnunoo/ETL_Project/Philip/Data/448...
29,2016,1116.2,1072.3,1065.5,1063.5,1072.5,1087.5,1108.7,1115.4,1089.6,1109.8,1201.1,1261.4,/Users/philipnunoo/ETL_Project/Philip/Data/448...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2012,419.6,415.0,412.5,413.4,405.4,405.9,404.9,400.6,397.6,404.4,432.9,428.7,/Users/philipnunoo/ETL_Project/Philip/Data/443...
103,2013,417.0,402.1,392.3,389.6,388.9,386.6,389.6,391.9,395.8,411.7,433.1,431.4,/Users/philipnunoo/ETL_Project/Philip/Data/443...
104,2014,423.1,396.5,393.6,386.0,384.1,389.5,393.3,399.4,399.7,414.4,433.5,436.0,/Users/philipnunoo/ETL_Project/Philip/Data/443...
105,2015,429.8,411.8,411.5,407.6,407.7,410.5,409.7,413.6,415.2,429.8,447.0,446.6,/Users/philipnunoo/ETL_Project/Philip/Data/443...
106,2016,441.6,424.8,420.8,418.5,415.4,413.8,414.9,413.2,416.6,416.3,430.5,434.0,/Users/philipnunoo/ETL_Project/Philip/Data/443...
107,2017,430.3,411.7,410.6,406.0,401.9,398.9,395.6,397.3,397.1,403.3,412.2,415.2,/Users/philipnunoo/ETL_Project/Philip/Data/443...
108,2018,409.7,398.2,400.3,399.2,397.0,395.1,393.9,392.0,390.2,391.4,393.2,400.4,/Users/philipnunoo/ETL_Project/Philip/Data/443...
109,2019,392.6,383.3,382.6,378.2,374.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/Users/philipnunoo/ETL_Project/Philip/Data/443...
110,2009,659.8,659.1,642.7,646.3,660.4,661.3,657.4,657.9,647.5,655.6,658.2,662.4,/Users/philipnunoo/ETL_Project/Philip/Data/453...
111,2010,630.3,631.5,623.6,628.2,639.2,639.0,640.7,635.7,628.5,639.7,645.2,648.4,/Users/philipnunoo/ETL_Project/Philip/Data/453...
112,2011,616.4,622.2,617.8,624.4,638.0,643.7,654.8,644.4,639.5,646.9,646.2,653.5,/Users/philipnunoo/ETL_Project/Philip/Data/453...
113,2012,629.0,641.8,630.8,640.2,662.2,660.7,658.5,662.1,667.9,674.1,674.9,676.3,/Users/philipnunoo/ETL_Project/Philip/Data/453...
114,2013,640.3,649.3,634.9,645.6,662.3,673.9,674.5,668.6,667.0,677.5,675.2,674.9,/Users/philipnunoo/ETL_Project/Philip/Data/453...
115,2014,648.1,652.7,646.2,655.2,675.6,681.8,687.1,686.3,686.8,703.6,685.3,686.0,/Users/philipnunoo/ETL_Project/Philip/Data/453...
116,2015,654.6,655.9,649.9,661.2,676.4,678.2,682.0,681.9,679.6,691.4,692.8,702.7,/Users/philipnunoo/ETL_Project/Philip/Data/453...
117,2016,664.6,658.6,654.2,665.4,679.6,684.7,689.3,688.0,674.5,694.1,685.3,677.3,/Users/philipnunoo/ETL_Project/Philip/Data/453...
118,2017,648.0,657.6,651.1,661.3,678.4,684.4,686.8,685.2,679.0,684.2,685.5,686.8,/Users/philipnunoo/ETL_Project/Philip/Data/453...
119,2018,655.8,663.2,664.4,674.6,690.8,692.4,699.5,697.9,687.9,691.3,705.1,707.9,/Users/philipnunoo/ETL_Project/Philip/Data/453...
120,2019,672.3,674.8,670.1,675.8,691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/Users/philipnunoo/ETL_Project/Philip/Data/453...
121,2009,2751.0,2674.1,2720.8,2697.7,2715.8,2724.1,2712.3,2716.9,2684.5,2704.9,2875.5,2925.4,/Users/philipnunoo/ETL_Project/Philip/Data/452...
122,2010,2734.4,2686.1,2733.3,2711.8,2742.8,2775.3,2796.9,2805.8,2781.3,2828.3,2979.1,3053.8,/Users/philipnunoo/ETL_Project/Philip/Data/452...
123,2011,2867.7,2810.7,2819.3,2835.4,2841.0,2866.0,2878.5,2874.7,2851.0,2901.6,3083.1,3157.9,/Users/philipnunoo/ETL_Project/Philip/Data/452...
124,2012,2984.5,2851.9,2847.4,2849.4,2845.3,2824.3,2817.0,2805.5,2788.5,2827.9,3005.9,3063.8,/Users/philipnunoo/ETL_Project/Philip/Data/452...
125,2013,2833.6,2738.3,2753.4,2760.4,2760.9,2777.3,2791.8,2784.4,2775.4,2817.1,3001.1,3076.9,/Users/philipnunoo/ETL_Project/Philip/Data/452...
126,2014,2856.2,2769.1,2770.5,2770.2,2766.5,2787.0,2803.4,2798.3,2767.8,2813.0,2981.8,3061.4,/Users/philipnunoo/ETL_Project/Philip/Data/452...
127,2015,2840.1,2751.1,2773.5,2770.4,2781.5,2797.7,2798.4,2800.6,2782.6,2832.0,3003.9,3080.3,/Users/philipnunoo/ETL_Project/Philip/Data/452...
128,2016,2860.9,2788.2,2813.7,2805.3,2809.7,2823.1,2835.4,2839.2,2815.0,2884.0,3040.9,3087.9,/Users/philipnunoo/ETL_Project/Philip/Data/452...
129,2017,2907.3,2805.1,2788.2,2799.3,2795.1,2823.1,2847.4,2858.0,2843.8,2895.6,3063.8,3070.4,/Users/philipnunoo/ETL_Project/Philip/Data/452...
130,2018,2883.1,2812.1,2793.8,2819.1,2828.8,2816.7,2848.9,2881.8,2854.7,2902.9,3118.7,3102.9,/Users/philipnunoo/ETL_Project/Philip/Data/452...
131,2019,2901.1,2793.9,2770.3,2769.4,2779.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/Users/philipnunoo/ETL_Project/Philip/Data/452...

In [75]:
frame['Filename']
print(os.path.basename(frame['Filename']))

TypeError: expected str, bytes or os.PathLike object, not Series

In [22]:
# Store filepath in a variable
file_441 = "441_MotorVehicle_PartsDealers.xlsx"

In [25]:
#Read in File starting from 13th row to eliminate extra headings and merged columns
file_441_df = pd.read_excel(file_441, skiprows=12)
file_441_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2009,1368.9,1361.9,1354.0,1355.1,1355.7,1358.7,1357.6,1357.8,1348.3,1343.9,1329.1,1323.3
1,2010,1301.6,1300.1,1309.4,1333.3,1343.1,1348.0,1348.0,1356.6,1356.6,1358.2,1359.8,1357.6
2,2011,1344.5,1352.8,1366.1,1385.6,1393.6,1404.3,1411.7,1412.9,1412.5,1410.9,1408.9,1402.6
3,2012,1384.4,1394.4,1404.0,1421.1,1426.4,1440.0,1436.5,1441.7,1442.5,1446.1,1439.1,1435.3
4,2013,1428.5,1432.2,1446.2,1459.9,1474.1,1486.5,1496.0,1498.9,1502.2,1498.3,1497.8,1496.4
5,2014,1490.0,1499.4,1511.2,1532.5,1546.2,1565.4,1567.3,1571.4,1570.5,1566.3,1566.0,1566.7
6,2015,1557.0,1566.7,1581.8,1593.4,1610.5,1619.5,1629.4,1629.2,1624.4,1622.7,1627.2,1625.3
7,2016,1615.1,1621.3,1635.2,1641.9,1651.6,1658.8,1661.7,1659.5,1657.1,1655.1,1655.5,1650.0
8,2017,1642.0,1646.1,1654.7,1659.9,1665.1,1674.6,1676.9,1672.1,1664.3,1667.7,1666.2,1658.4
9,2018,1647.8,1658.5,1662.3,1670.7,1678.6,1688.5,1695.0,1690.6,1688.9,1689.6,1681.8,1684.9
10,2019,1672.9,1677.0,1689.9,1699.9,1708.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#file_441_df.unstack(10)

file_441_df.melt(id_vars=["Year","NAICS CODE"],var_name="Month",value_name="Value")

     Year Month   Value
0    2009   Jan  1368.9
1    2010   Jan  1301.6
2    2011   Jan  1344.5
3    2012   Jan  1384.4
4    2013   Jan  1428.5
5    2014   Jan  1490.0
6    2015   Jan  1557.0
7    2016   Jan  1615.1
8    2017   Jan  1642.0
9    2018   Jan  1647.8
10   2019   Jan  1672.9
11   2009   Feb  1361.9
12   2010   Feb  1300.1
13   2011   Feb  1352.8
14   2012   Feb  1394.4
15   2013   Feb  1432.2
16   2014   Feb  1499.4
17   2015   Feb  1566.7
18   2016   Feb  1621.3
19   2017   Feb  1646.1
20   2018   Feb  1658.5
21   2019   Feb  1677.0
22   2009   Mar  1354.0
23   2010   Mar  1309.4
24   2011   Mar  1366.1
25   2012   Mar  1404.0
26   2013   Mar  1446.2
27   2014   Mar  1511.2
28   2015   Mar  1581.8
29   2016   Mar  1635.2
..    ...   ...     ...
102  2012   Oct  1446.1
103  2013   Oct  1498.3
104  2014   Oct  1566.3
105  2015   Oct  1622.7
106  2016   Oct  1655.1
107  2017   Oct  1667.7
108  2018   Oct  1689.6
109  2019   Oct     NaN
110  2009   Nov  1329.1
111  2010   Nov  1359.8
112  2011   Nov  1408.9
113  2012   Nov  1439.1
114  2013   Nov  1497.8
115  2014   Nov  1566.0
116  2015   Nov  1627.2
117  2016   Nov  1655.5
118  2017   Nov  1666.2
119  2018   Nov  1681.8
120  2019   Nov     NaN
121  2009   Dec  1323.3
122  2010   Dec  1357.6
123  2011   Dec  1402.6
124  2012   Dec  1435.3
125  2013   Dec  1496.4
126  2014   Dec  1566.7
127  2015   Dec  1625.3
128  2016   Dec  1650.0
129  2017   Dec  1658.4
130  2018   Dec  1684.9
131  2019   Dec     NaN

[132 rows x 3 columns]

In [37]:
#Transpose data file
file_441_TR_df = file_441_df.T

#file_441_TR_df['NAICS Code']='441'
file_441_TR_df

,0,1,2,3,4,5,6,7,8,9,10,NAICS Code
Year,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,441
Jan,1368.9,1301.6,1344.5,1384.4,1428.5,1490.0,1557.0,1615.1,1642.0,1647.8,1672.9,441
Feb,1361.9,1300.1,1352.8,1394.4,1432.2,1499.4,1566.7,1621.3,1646.1,1658.5,1677.0,441
Mar,1354.0,1309.4,1366.1,1404.0,1446.2,1511.2,1581.8,1635.2,1654.7,1662.3,1689.9,441
Apr,1355.1,1333.3,1385.6,1421.1,1459.9,1532.5,1593.4,1641.9,1659.9,1670.7,1699.9,441
May,1355.7,1343.1,1393.6,1426.4,1474.1,1546.2,1610.5,1651.6,1665.1,1678.6,1708.7,441
Jun,1358.7,1348.0,1404.3,1440.0,1486.5,1565.4,1619.5,1658.8,1674.6,1688.5,NaN,441
Jul,1357.6,1348.0,1411.7,1436.5,1496.0,1567.3,1629.4,1661.7,1676.9,1695.0,NaN,441
Aug,1357.8,1356.6,1412.9,1441.7,1498.9,1571.4,1629.2,1659.5,1672.1,1690.6,NaN,441
Sep,1348.3,1356.6,1412.5,1442.5,1502.2,1570.5,1624.4,1657.1,1664.3,1688.9,NaN,441
Oct,1343.9,1358.2,1410.9,1446.1,1498.3,1566.3,1622.7,1655.1,1667.7,1689.6,NaN,441
Nov,1329.1,1359.8,1408.9,1439.1,1497.8,1566.0,1627.2,1655.5,1666.2,1681.8,NaN,441
Dec,1323.3,1357.6,1402.6,1435.3,1496.4,1566.7,1625.3,1650.0,1658.4,1684.9,NaN,441

In [38]:

#file_441_df.reset_index()
#file_441_TR_df

file_441_df.pivot(index="Year", columns='Jan')

         Feb                                                                  \
Jan   1301.6  1344.5  1368.9  1384.4  1428.5  1490.0  1557.0  1615.1  1642.0
Year
2009     NaN     NaN  1361.9     NaN     NaN     NaN     NaN     NaN     NaN
2010  1300.1     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2011     NaN  1352.8     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2012     NaN     NaN     NaN  1394.4     NaN     NaN     NaN     NaN     NaN
2013     NaN     NaN     NaN     NaN  1432.2     NaN     NaN     NaN     NaN
2014     NaN     NaN     NaN     NaN     NaN  1499.4     NaN     NaN     NaN
2015     NaN     NaN     NaN     NaN     NaN     NaN  1566.7     NaN     NaN
2016     NaN     NaN     NaN     NaN     NaN     NaN     NaN  1621.3     NaN
2017     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN  1646.1
2018     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2019     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

              ...     Dec                                                  \
Jan   1647.8  ...  1344.5  1368.9  1384.4  1428.5  1490.0  1557.0  1615.1
Year          ...
2009     NaN  ...     NaN  1323.3     NaN     NaN     NaN     NaN     NaN
2010     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2011     NaN  ...  1402.6     NaN     NaN     NaN     NaN     NaN     NaN
2012     NaN  ...     NaN     NaN  1435.3     NaN     NaN     NaN     NaN
2013     NaN  ...     NaN     NaN     NaN  1496.4     NaN     NaN     NaN
2014     NaN  ...     NaN     NaN     NaN     NaN  1566.7     NaN     NaN
2015     NaN  ...     NaN     NaN     NaN     NaN     NaN  1625.3     NaN
2016     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN  1650.0
2017     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2018  1658.5  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2019     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN


Jan   1642.0  1647.8 1672.9
Year
2009     NaN     NaN    NaN
2010     NaN     NaN    NaN
2011     NaN     NaN    NaN
2012     NaN     NaN    NaN
2013     NaN     NaN    NaN
2014     NaN     NaN    NaN
2015     NaN     NaN    NaN
2016     NaN     NaN    NaN
2017  1658.4     NaN    NaN
2018     NaN  1684.9    NaN
2019     NaN     NaN    NaN

[11 rows x 121 columns]

In [40]:
file_441_TR_df.unstack()

#file_441_TR_df.reset_index()
#file_441_TR_df

#file_441_TR_df.pivot(index="Year")

0           Year      2009
            Jan     1368.9
            Feb     1361.9
            Mar       1354
            Apr     1355.1
            May     1355.7
            Jun     1358.7
            Jul     1357.6
            Aug     1357.8
            Sep     1348.3
            Oct     1343.9
            Nov     1329.1
            Dec     1323.3
1           Year      2010
            Jan     1301.6
            Feb     1300.1
            Mar     1309.4
            Apr     1333.3
            May     1343.1
            Jun       1348
            Jul       1348
            Aug     1356.6
            Sep     1356.6
            Oct     1358.2
            Nov     1359.8
            Dec     1357.6
2           Year      2011
            Jan     1344.5
            Feb     1352.8
            Mar     1366.1
                     ...
9           Sep     1688.9
            Oct     1689.6
            Nov     1681.8
            Dec     1684.9
10          Year      2019
            Jan     1672.9
            Feb       1677
            Mar     1689.9
            Apr     1699.9
            May     1708.7
            Jun        NaN
            Jul        NaN
            Aug        NaN
            Sep        NaN
            Oct        NaN
            Nov        NaN
            Dec        NaN
NAICS Code  Year       441
            Jan        441
            Feb        441
            Mar        441
            Apr        441
            May        441
            Jun        441
            Jul        441
            Aug        441
            Sep        441
            Oct        441
            Nov        441
            Dec        441
Length: 156, dtype: object

In [10]:
#Put Data into a DataFrame
file_441_df=pd.DataFrame(file_441_raw)

file_441_df
#file_441_df.dropna()

ValueError: DataFrame constructor not properly called!

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
file_441_df.to_csv("Output/file_441.csv", index=False, header=True)